---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a passionate 3rd year student at Model Engineering College, Thrikkakara majoring in Computer Science. I have a strong passion for software engineering and I am eager to learn from the best in the industry. I have a strong foundation in computer science fundamentals. 
			I am also a highly motivated and results-oriented individual. I am always eager to learn new things and I generally have a habit of learning whilst doing
		</p>
	</div>
</section>
