---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
//@ts-ignore
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
}

const { title = 'Abhinav M M| Web and App developer' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
					
		<!--  SEO Keywords -->

		<SEO
			title="Abhinav Mohanan"
			description="abhinavmohanan web developer, app developer, Abhinav Mohanan, software development, front-end development, back-end development, full-stack development, mobile development, web design, UX design, UI design, agile development, waterfall development, scrum development, kanban development, DevOps, web application development for businesses, custom web application development" 
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title}</title>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
